#header{
    text-align: center;
    background-color: darkgray;
    padding: 50px;
}

body{
    background-color: lightgray;
}

.btn{
    width: 100px;
}

.form-control{
    width: 500px;
}
#signInBtn{
    position: relative;
    bottom: 160px;
    left: 1436px;
    color:lightgrey;
}
#signOutBtn{
    position: relative;
    left: 1430px;
    bottom: 150px;
}

#logInBtn{
    position: relative;
    bottom: 100px; 
    left: 1326px; 
}

#signUpBtn{
    position: relative;
    left: 1430px;
    bottom: 150px;
}

#navbar{
    position: relative;
    bottom: 50px;
}

.welcome{
    text-align: center;
    font-size: 200px;
}