#header{
    text-align: center;
    background-color: darkgray;
    padding: 50px;
}

body{
    background-color: lightgray;
}

.btn{
    width: 100px;
}

.form-control{
    width: 500px;
}

#signOutBtn{
    position: relative;
    left: 1430px;
    bottom: 150px;
}

#logInBtn{
    position: relative;
    bottom: 150px; 
    left: 1426px; 
    color:white;
}

#navbar{
    position: relative;
    bottom: 50px;
}

.welcome{
    text-align: center;
    font-size: 200px;
}