#header{
    text-align: center;
    background-color: black;
    padding: 50px;
}

#headerText{
    color: white;
    font-weight: bold;
    margin: 0 auto;
}
#statusBtns{
    display: flex;
    display: flex;
    justify-content: center;
}

